azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
azure-mgmt-compute==33.1.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==33.0.0
azure-mgmt-core==1.5.0
azure-mgmt-resource==23.2.0
azure-mgmt-subscription==3.1.1
azure-mgmt-web==7.3.1
tqdm==4.67.1
